<div class="container">
    <nav>Eat-Da-Burger II!</nav>
</div>

<div class="container">

    <div class="row">

        {{!-- Burger Order\Cart Panel --}}
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Burger Order</h3>
                </div>
                <div class="panel-body" id="burgerOrder">
                    <table>
                        {{#each burgers}} {{#unless devoured}}
                        <tr>
                            <td style="width: 227px">{{burger_name}}</td>
                            <td>
                                <button class="devourButton" data-devoured="No" data-id="{{id}}">Devour</button>
                            </td>
                        </tr>
                        {{/unless}} {{/each}}
                    </table>
                </div>
                <div class="panel-footer">
                    When available, click on 'devour' to consume your burger.
                </div>
            </div>
        </div>

        {{!-- Burger Order Form Panel --}}
        <div class="col-md-4">
            <div class="panel panel-default formPanel">
                <div class="panel-heading" id="formPanelHeader">
                    <h3 class="panel-title">Burger Order Form</h3>
                </div>
                <div class="panel-body">
                    <form method="post" enctype="text/plain">
                        <textarea id="burgerName" name="burger" placeholder="Place your burger order here. Click 'Submit' when done."></textarea>
                        <div class="submitButton">
                            <button type="submit" id="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {{!-- Burgers Devoured Pane --}}
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Devoured</h3>
                </div>
                <div class="panel-body" id="devoured">
                    <table>
                        {{#each burgers}} {{#if devoured}}
                        <tr>
                            <td style="width: 227px">{{burger_name}}</td>
                        </tr>
                        {{/if}} {{/each}}
                    </table>
                </div>
                <div class="panel-footer">
                    <div class="clearButton">
                        <button>Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>